<div class='container'>
    <div class='col-sm-10'>
        <div class='title'>
            <h3>Enter Your Details</h3>
        </div>
        <form [formGroup]="registerForm" (submit)="onSavesdetails()">
            <div class='col-sm-8'>
                <label for="name">Firstname</label>
                <input class="form-control" type="text" formControlName="fname">
                <label for="name">Lastname</label>
                <input class="form-control" type="text" formControlName="lname">
                <label for="dob">Date of Birth</label>
                <input class="form-control" type="text" formControlName="dob">
                <label for="name">E-mail Id</label>
                <input class="form-control" type="text" formControlName="email">
                <label for="name">Password</label>
                <input class="form-control" type="password" formControlName="password">
                <!-- <span class="help-block" *ngIf="!registerForm.get('password').valid && registerForm.get('password').errors[FormCustomValidators.passWordValidator]">
                    Please Enter valid insput!!</span> -->
                <label for="name" type="password">Confirm Password</label>
                <input class="form-control" type="password">
            </div>
            <a>
                <img [src]="proPic" class="img-fluid" style="border-radius: 100rem; height: 12rem; margin-left: 10px;" alt="..." (click)="openFile.click()">
            </a>
            <span class="centered">Click here</span>
            <input type="file" #openFile (change)="onImagePicked($event)" style="visibility: hidden;">
            <div class='col-sm-8'>
                <button class='btn btn-primary pull-right' type="submit" [disabled]="!registerForm.valid">Save</button>
                <button class='btn btn-danger pull-right' type="button">Clear</button>
            </div>
        </form>
    </div>
</div>