<div class="header1">
    <nav class='navbar'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <a class='navbar-brand' style="cursor: pointer;" routerLinkActive="active">Registration</a>
            </div>
            <div class='collapse navbar-collapse pull-right'>
                <ul class='nav navbar-nav'>
                    <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/regForm">CREATE DATA</a>
                    </li>
                    <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/datalist">DATA LIST</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>